# ignores all .md files
.md
/Pytorch/pth_files
/Pytorch/data
/Pytorch/runs
/Edge_detection
/CNN_with_pytorch_lightning/runs
/CNN_with_pytorch_lightning/logs
/CNN_with_pytorch_lightning/Dataset
/CNN_with_pytorch_lightning/checkpoints
/Django
/open_cv/images
/open_cv/videos
/open_cv/xml
/CNN_with_pytorch_lightning/Dataset
CNN_model.ipynb
# does not ignore the README.md file
!README.md