.md
/Pytorch/pth_files
/Pytorch/data
/Pytorch/runs
/Edge_detection
/CNN_with_pytorch_lightning/runs
/CNN_with_pytorch_lightning/logs
/CNN_with_pytorch_lightning/Dataset
/CNN_with_pytorch_lightning/checkpoints
/Django
/open_cv/images
/open_cv/videos
/open_cv/xml
/CNN_with_pytorch_lightning/Dataset
CNN_model.ipynb
Uni.cpp
yolov8n.pt
yolov8x-cls.pt
yolov8n-cls.pt
/resnet_pytorch_lightning/Dataset
/resnet_pytorch_lightning/logs
/resnet_pytorch_lightning/checkpoints
/resnet_pytorch_lightning/__pycache__

/classification_with_yolov8/Dataset
/classification_with_yolov8/runs

!README.md